

* {
    margin: 0; /*Removing Default Margin*/
    padding: 0;/*Removing Default Padding*/
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;/*Font*/
    
    
}

.mainparent {
    display: flex;/*Flexbox layout*/
    
  }
/*Sidebar*/
.sidebar {
    width: 250px;
    background-color: #313131;
    color: #ffffff;
    height: 100vh;
    padding: 20px 10px;
    display: flex;/*Flex container*/
    flex-direction: column;/*Adjusting elements vertically*/
    gap: 40px;
    border-top-right-radius: 10px;/*Making corners round*/
    border-bottom-right-radius: 10px;
    position:fixed;/*Fixed position while scrolling*/ 
}



/*Sidebar items*/
.sidebar div {
    display: flex;/*Flex layout */
    align-items: center;/*Aligning items in center*/
    padding: 12px ;
    cursor: pointer;/*Pointer while hovering*/
    font-family:sans-serif ;/*Font family*/
    justify-content: space-between;/*Space between icon and text*/
}
/*Hover Effect*/
.sidebar div:hover {
    background-color: #272a2d; 
    border-radius: 20px;

}
/*Sidebar p element styling*/
.sidebar div p {
    margin-left: 15px;
    font-size: 20px;
    font: bold;


}
/*Sidebar icon styling*/
.sidebar div i {
    width: 40px;
    font-size: 25px;
    padding-left:10px;
}
  /* Main dashboard content*/
.dashboard{
    width: 80%; 
    margin-left: 250px; 
    padding: 50px; 
    
    
    
   
}
    
    
/* Top row of dashboard*/
.maindash {
    
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 100px;
    
    
}

.section{
  width: fit-content;
}

.section0{
  width: fit-content;
}

.section1{
    width: 350px;
    height: 185px;
    color: black;
    font-weight: bold;
    
    
}

.section2{
    
    width: 350px;
    height: 185px;
    color: #563434;
    font-weight: bold;
   
}
.section3{
    width: 350px;
    height: 185px;
     color: #857A43;
     font-weight: bold;
    

}  

/*Top row box styling */
.product {
    background-color: #E8E8E8; 
     padding: 40px;
      font-size: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      border-radius: 10px;
      box-shadow: 11px 12px 48px 0px #949393;
      
    }
    /* Styling icon*/
    .product i {
      font-size: 60px;
      color: #000000;
      position: absolute;
      left: 40px; 
      top: 40px;
    }
    /* Styling header*/
    .product h2 {
      font-size: 32px;
      margin: 10px;
      color: #000000;
    }
   

/* bottom row box styling*/
.maindash2{
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    margin-top: 80px;
    flex-wrap: wrap;
}

/* Box styling for second row*/
.product2{
    padding: 50px;
    width: 500px;
    height: 150px;
    background-color: #E8E8E8; 
    text-align:right;
    position: relative; 
    border-radius: 10px;
    box-shadow: 11px 12px 48px 0px #949393;/* Box shadow */
}
/* Styling h2 for second row*/
.product2 h2 {
    font-size: 32px;
    margin: 10px 0;
    color: #836320;
  }
    
  .product2 i {
    font-size: 60px;
    color: #836320;
    position: absolute;
    left: 40px; 
    top: 40px;
  }

  .product2:hover {
    background-color: #dddddd; 
  }

  
.section4{
  width: 350px;
  height: 185px;
   color: #857A43;
   font-weight: bold;
  
} 

.logo{
  max-width: 4rem;
  margin-left: 400px;
}

/*Order list table*/
  .recent-orders {
    width: 650px;
    height: 350px;
    background-color: #E8E8E8;
    padding: 40px;/*spacing*/
    margin-right: 20px;/* margin in right*/
    margin-bottom: 20px;/* margin in bottom*/
    border-radius: 10px;
    box-shadow: 11px 12px 48px 0px #949393;
    position:absolute;/* Absolute position*/
    right: 5px;
   
}



.recent-orders h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
/*Styling  Table*/
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #000000;
    font:bold;
}

th {
    
    font-weight: 600;
    color: #555;
}

td button{
    padding: 5px;
    border-radius: 10px;

}

td button:hover{
    background-color: #908c8c;

}


.dashboard .header {
    padding-top: 10px;
     font-size: 40px;
      padding-left: 20px;
      text-align: left;}

/* Responsive design*/
@media (max-width: 1024px) {
    .mainparent {
      flex-direction: column;
    }
   /* Horizontal sidebar*/
    .sidebar {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 70px;
      position: relative;
      padding: 10px 0;
    }
   /* Adjusting dashboard*/
    .dashboard {
      width: 100%;
      margin-left: 0;
      padding: 20px;
    }
  /* Adjusting box layout*/
    .maindash {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 60px;
    }
  
    .section1,.section2,.section3 {
      width: 300px;
      height: 160px;
    }
  /* Adjusting layout for bottom row*/
    .maindash2 {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  /* Adjusting box layout for bottom row*/
    .product2,
    .recent-orders {
      width: 90%;
      position: relative;
      margin: 0 auto;
    }
  /* Table*/
    .recent-orders {
      height: auto;
      margin-top: 20px;
    }
  }
  
  



